<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">
        <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/encode/base64" routerLinkActive="active">
        <i class="fa fa-lock"></i> Encode Base64<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink="/decode/base64" routerLinkActive="active">
        <i class="fa fa-unlock"></i> Decode Base64<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-lock"></i> Encode Url<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-unlock"></i> Decode Url<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-clock-o"></i> String Length<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-random"></i> Random String Generator<span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>
</div>
