<div class="jumbotron">
  <h1 class="display-3">Utilities Belt For Developers</h1>
  <p class="lead">A set of tools to help developers in their day to day tasks.</p>
  <hr class="my-4">
  <p>This is a simple app built with Angular2+ & Laravel. Made with <i class="fa fa-heart text-danger"></i> by the <a href="https://www.craftblue.com">Craft Blue</a> team.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Code Utils is open source <i class="fa fa-github"></i></a>
  </p>
</div>
